@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 500px) {
    /*scrollbar*/
    ::-webkit-scrollbar{
        background-color: #424242;
        width: 12px;
    }
    ::-webkit-scrollbar-thumb{
        background: #aeaeae;
    }
    ::-webkit-scrollbar-thumb:hover{
        background: #d6d6d6; 
    }
}

*{
    transition: 300ms;
}