@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 500px) {
    /*scrollbar*/
    ::-webkit-scrollbar{
        background-color: #232323;
        width: 12px;
    }
    ::-webkit-scrollbar-thumb{
        background: #f6f6f6; 
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover{
        background: #ffffff; 
    }
}
