@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 500px) {
    /*scrollbar*/
    ::-webkit-scrollbar{
        background-color: #424242;
        width: 12px;
    }
    ::-webkit-scrollbar-thumb{
        background: #aeaeae;
    }
    ::-webkit-scrollbar-thumb:hover{
        background: #d6d6d6; 
    }
}

select{
    background-color: #f6f6f6;
}

#app{
    overflow-x: hidden;
    background-color: #232323;
    scroll-behavior: smooth;
}

.component{
    @apply w-full h-full flex flex-col
}